body{
    background-image: url(./kepek/bckgrnd2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
    margin: auto;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
    border: 10px solid white;
}
.kartya{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    margin: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 0px 10px red;
    height: 500px;
    position: relative;
}
.jobb{
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
}
.hozzavalok{
    text-align: center;
    font-weight: normal;
    width: 80%;
    margin:auto;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: rgb(250, 192, 192);
    border: 1px solid black;
}
input{
    margin-bottom: 20px;
    background-color: transparent;
}
.center-block{
    margin:auto;
    width: 40%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 40px;
    border-radius: 10px;
}
label{
    font-size: 24px;
}
.inaktiv{
    background-color: rgba(114, 114, 114, 0.8);
    color: rgb(39, 39, 39);
    border-radius: 4px;
    margin: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 0px 10px red;
}
.vart-ido{
    color:red;
}
.mennyiseg{
    width: 100%;
    margin:auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}
.vissza{
    margin:auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    padding:10px;
    background-color: red;
    border-radius: 8px;
    width: 40%;
    margin:auto;
}
@media screen and (max-width: 1400px){
    .kartya{
        margin: 10px;
        
    }
    .kartya input{
        width: 60px;
        height:20px;
    }
    .hozzavalok{
        padding: 0px;
        margin: auto;
        width: 97%;
    }
}
@media screen and (max-width: 1200px){
    .kartya{
        margin: 5px;
        padding: 0;
    }
    .nev{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .jobb{
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 991px){
    body{
        background-image: url(./kepek/tablet-bckgrnd1.jpg);
    }
}
@media screen and (max-width: 750px){
    .kartya{
        height: 430px;
    }
    .mennyiseg{
        padding: 0;
    }
    .mennyiseg input{
        padding: 0;
        margin-bottom: 3px;
    }
    .mennyiseg p{
        padding: 0;
        margin-bottom: 3px;
    }
}
@media screen and (max-width: 650px){
    .center-block{
        width: 60%;
        padding: 30px;
    }
    h1{
        font-size: 36px;
    }
}
@media screen and (max-width: 576px){
    body{
        background-image: url(./kepek/mobil-bckgrnd1.jpg);
    }
    .kartya{
        height: 380px;
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
    .center-block{
        margin-top: 20px;
    }
}
@media screen and (max-width: 400px){
    .kartya{
        width: 85%;
    }
    .center-block{
        width: 85%;
    }
}
@media screen and (max-width: 300px){
    .kartya{
        width: 100%;
        height: 400px;
    }
    .center-block{
        width: 100%;
    }
}