body{
    background-image: url(./kepek/tablet-bckgrnd1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 0px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    background-color: #222222;
    color: white;
    width: 35%;
    border-radius: 10px;
}
.container{
    margin-top: 120px;
}
.navbar-brand{
    font-size: 36px;
}
.mb-1{
    font-size: 18px;
}
.container a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 38px;
}
.container a:hover{
    color: black;
}
.kilep{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 38px;
}
.row{
    height: 200px;
    vertical-align: middle;
}
.col{
    vertical-align: middle;
    text-align: center;
    
}
.hatter{
    width: 450px;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.7);
    padding: 60px 25px;
    border-radius: 4px;
    transition: background-color 300ms;
    cursor: pointer;
}
.hatter:hover{
    background-color:rgba(255, 255, 255, 0.85);
}



@media screen and (max-width: 991px){
    body{
        
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .hatter{
        width: 300px;
        padding: 50px 25px;
    }
    h2{
        width: 80%;
    }
}

@media screen and (max-width: 768px){

    h2{
        font-size: 26px;
    }
    .hatter{
        width: 260px;
        padding: 40px 10px;
    }
    .col-xs-12{
        margin-bottom: 40px;
    }
    .kilep{
        margin-top: 240px;
    }
    
}
@media screen and (max-width: 650px){
    .navbar-brand{
        font-size: 28px;
    }
    .mb-1{
        font-size: 14px;
    }
    .navbar-brand img{
        height: 45px;
    }
}
@media screen and (max-width: 600px){
    .container a{
        font-size: 30px;
    }
    .kilep{
        font-size: 26px;
        margin-top: 170px;
    }
}
