body{
    background-image: url(./kepek/body-background-opt.fd30d5dc.jpg);
    background-repeat: repeat-x;
    background-color: rgb(235, 235, 235);
    text-align: center;
    background-attachment: fixed;
}
